/* tablet view */
@media  (min-width: 768px) and (max-width: 960px) {   
    body{
        margin: auto;
    }
    main{
      display: grid;
      grid-template-columns:200px 190px 190px 190px 190px  ;
      grid-template-rows:  100px 200px 250px 150px;
      gap: 0px;
  }
p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
}



.a{
   grid-column: 1/-1;
   grid-row:1/2;
   position: relative;

  border: 1px solid black;
  box-sizing: border-box;
  background-color: #faf3e0;

}
aside{
    grid-row:2/-1;
    grid-column: 1/2;


    position: relative;
    
    border: 1px solid black;
    box-sizing: border-box;
    background-color: #1e212d;

}

.c{
    grid-row:2/3;
    grid-column: 2/4;


    position: relative;
    
    border: 1px solid black;
    box-sizing: border-box;
    background-color: #1e212d;

}
.d{
    grid-row:2/3;
    grid-column: 4/6;
    position: relative;
}
.e{
    grid-row:3/4;
    grid-column: 2/3;
    position: relative;
}
.f{
    grid-row:3/4;
    grid-column: 3/4;
    position: relative;
}
.g{
    grid-row:3/4;
    grid-column: 4/5;
    position: relative;
}
.h{
    grid-row:3/4;
    grid-column: 5/6;
    position: relative;
}
.i{
    grid-row:4/5;
    grid-column: 2/6;
    position: relative;
}}
/* desktop view */

@media   (min-width: 961px) {   
    body{
        display: table;
        margin: auto;
    }
    main{
      display: grid;
      grid-template-columns:250px 220px 220px 220px 220px  ;
      grid-template-rows:  120px 220px 270px 170px;
      gap: 0px;
  }
p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
}



.a{
   grid-column: 1/-1;
   grid-row:1/2;
   position: relative;

  border: 1px solid black;
  box-sizing: border-box;
  background-color: #faf3e0;

}
aside{
    grid-row:2/-1;
    grid-column: 1/2;


    position: relative;
    
    border: 1px solid black;
    box-sizing: border-box;
    background-color: #1e212d;

}

.c{
    grid-row:2/3;
    grid-column: 2/4;


    position: relative;
    
    border: 1px solid black;
    box-sizing: border-box;
    background-color: #1e212d;

}
.d{
    grid-row:2/3;
    grid-column: 4/6;
    position: relative;
}
.e{
    grid-row:3/4;
    grid-column: 2/3;
    position: relative;
}
.f{
    grid-row:3/4;
    grid-column: 3/4;
    position: relative;
}
.g{
    grid-row:3/4;
    grid-column: 4/5;
    position: relative;
}
.h{
    grid-row:3/4;
    grid-column: 5/6;
    position: relative;
}
.i{
    grid-row:4/5;
    grid-column: 2/6;
    position: relative;
}}

/* mobile */
@media   (max-width: 767px) {   
    body{
        display: table;
        margin: auto;
    }
    main{
      display: grid;
      grid-template-columns:240px 240px   ;
      grid-template-rows:  75px 150px 125px 125px 250px 250px 80px;
      gap: 0px;
  }
p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
}



.a{
   grid-column: 1/-1;
   grid-row:1/2;
   position: relative;

 

}
aside{
    grid-row:2/3;
    grid-column:1/-1;


    position: relative;
    
    

}

.c{
    grid-row:3/4;
    grid-column: 1/-1;


   

}
.d{
    grid-row:4/5;
    grid-column: 1/-1;
    position: relative;
}
.e{
    grid-row:5/6;
    grid-column: 1/2;
    position: relative;
}
.f{
    grid-row:5/6;
    grid-column: 2/3;
    position: relative;
}
.g{
    grid-row:6/7;
    grid-column: 1/2;
    position: relative;
}
.h{
    grid-row:6/7;
    grid-column: 2/3;
    position: relative;
}
.i{
    grid-row:7/8;
    grid-column: 1/-1;
    position: relative;
}}


