p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
}

header{
    width: 960px;
    height: 100px;
  border: 1px solid black;
  box-sizing: border-box;
  position:relative ;

}

aside{
    position: relative;
    width: 200px;
    height: 600px;
    border: 1px solid black;
    box-sizing: border-box;
    float: left;
}
.section1 div{
    height: 200px;
    width: 380px;
    position: relative;
    border: 1px solid black;
    box-sizing: border-box;
    float: left;

}
.section2 div{
    height: 250px;
    width: 190px;
    position: relative;
    border: 1px solid black;
    box-sizing: border-box;
    float: left;

}
footer{
    height: 150px;
    width: 760px;
    position: relative;
    border: 1px solid black;
    box-sizing: border-box;
    float: left;

}@media all and (min-width: 768px) and (max-width: 960px) {   
     body{
    width: 960px;
    height: 700px;
    background-color: aqua;
}}
@media all and (min-width: 961px)  {   
    body{
   width: 960px;
   height: 700px;
margin: auto;
   background-color: rgb(152, 160, 160);
}}
@media all and (min-width: 480px) and (max-width: 767px) {
    body{
        width: 480px;
        margin: auto;
        background-color: red;
    }
    header{
        height: 75px;
        width: 480px;

      border: 1px solid black;
      box-sizing: border-box;
      position:relative ;
    
    }
   
    aside{
        position: relative;
        height: 150px;
        width: 480px;

        border: 1px solid black;
        box-sizing: border-box;
        
    }
    .section1 div{
        height: 125px;
        width: 480px;

        position: relative;
        border: 1px solid black;
        box-sizing: border-box;
    
    }
    .section2 div{
        height: 250px;
        width: 240px;
        position: relative;
        border: 1px solid black;
        box-sizing: border-box;
        float: left;
    
    }
    footer{
        clear: both;
        height: 80px;
        width: 480px;
        position: relative;
        border: 1px solid black;
        box-sizing: border-box;
    
    }
   
}